.refresh {
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    vertical-align: middle;
    transition: all 0.05s ease-in;
    cursor: pointer;
}
.refresh:hover {
    background: rgba(255, 255, 255, 0.3);
}
.refreshFunction {
    width: 40px;
    display: inline;
    vertical-align: baseline;
}
.filterItemsContainer {
    width: calc(100% - 50px);
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

/***Checkbox***/
.switch {
    padding-left: 15px;
    text-transform: uppercase;
}
.checkContainer {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.regularCheckbox {
    -webkit-appearance: none;
    border: 1px solid #fff;
    padding: 7px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    vertical-align: text-bottom;
    margin-right: 0;
}
.regularCheckbox:active, .regularCheckbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regularCheckbox:checked {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #13a2e8;
}
.regularCheckbox:checked:after {
	content: '\2714';
    font-size: 13px;
    position: absolute;
    top: -2px;
    left: 2px;
    color: #13a2e8;
}